.Contact {
    width: 400px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    background: #fff;
}

.ContactImage {
    width: 80px;
    height: 80px;
    margin: 20px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.ContactName {
    margin-left: 20px;
    position: absolute;
    left: 150px;
    top: 55px;
    font-size: 20px;
}